body
{
	color: black;
	background: white;
	font: 10pt Arial, Verdana;
}

img.list
{
	margin: 3pt;
}

h1
{
	font-size: 15pt;
	font-weight: bold;
}

h2
{
	font-size: 13pt;
	font-weight: bold;
}

h3
{
	font-size: 11.5pt;
	font-style: italic;
}

dt
{
	font-weight: bold;
}

dd
{
	margin-top: 1pt;
	margin-bottom: 1pt;
}

p.default, p.note
{
	font-style: italic;
}

a:link, a:visited, a:hover, a:active
{
	color: rgb(51, 102, 187);
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

table, th, td
{
	background-color: rgb(249, 249, 249);
	border-color: rgb(170, 170, 170);
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-spacing: 2px;
}

th, td
{
	padding: 5px;
	vertical-align: middle;
}

th
{
	background-color: rgb(242, 242, 242);
	text-align: center;
}

a.anchor:link, a.anchor:visited, a.anchor:hover, a.anchor:active
{
	color: black;
	text-decoration: none;
}

a.external
{
	padding-right: 13px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC");
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
