body
{
	color: black;
	background: white;
	font: 10pt Arial, Verdana;
}

h1
{
	font: 12pt;
	font-weight: bold;
}

h2
{
	font: 11pt;
	font-weight: bold;
}

h3
{
	font: 11pt;
	font-style: italic;
}

dt
{
	font-weight: bold;
}

dd
{
	margin-top: 4pt;
	margin-bottom: 4pt;
}

p.default
{
	font-style: italic;
}

a:link, a:visited, a:hover, a:active
{
	color: rgb(51, 102, 187);
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

a.anchor:link, a.anchor:visited, a.anchor:hover, a.anchor:active
{
	color: black;
	text-decoration: none;
}

a.external
{
	padding-right: 13px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC");
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
